@layer phonebook-numbers {
  .ul {
    list-style: none;
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0;
  }

  .list {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    flex-basis: 1;
    gap: 1rem;
    overflow: hidden;
    width: 100%;
  }

  .contact {
    display: flex;
    gap: 0.2rem;
  }

  .name {
    place-self: center;
    white-space: pre;
  }

  .number {
    display: flex;
    place-self: center;
    font-weight: 600;
  }

  .button {
    appearance: none;
    padding-block: 0.4rem;
    padding-inline: 0.8rem;
    font-family: inherit;
    background-color: #1a1a1aff;
    border: 2px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease;
  }

  .button:hover {
    background: rgba(26, 26, 26, 0.49);
    border-color: rgb(89, 89, 89);
  }

  .filter {
    font-weight: 600;
  }

  .notMatched {
    color: grey;
  }
}
