@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

button {
  appearance: none;
  background: transparent;
  padding: 8px 16px;
  border: 1.2px solid rgba(128, 128, 128, 0.438);
  width: fit-content;
  height: 2.5rem;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-size: medium;
  cursor: pointer;
}

p {
  margin: 0;
  padding-block: 6px;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.055);
}

span {
  color: gray;
  border-top: 1px solid rgba(128, 128, 128, 0.096);
  margin-block-start: 1rem;
  padding-block: 0.5rem;
  /* width: fit-content; */
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 420px;
  margin-inline: auto;
}

.main-input {
  display: flex;
  gap: 12px;
}

.new-anecdote,
.most-voted {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0;
}

.anecdotes-input {
  display: flex;
}

.vote {
  display: flex;
  place-items: center;
  padding: 8px 16px;
  /* color: blue; */
  border: 1.2px solid rgba(128, 128, 128, 0.438);
  background-color: rgba(128, 128, 128, 0.055);
  border-right: 0;
  width: fit-content;
  /* height: 2.5rem; */
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.vote + button {
  border-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
